.library {
  flex: 4;
  padding: 0px 20px;
  height: calc(100vh - 50px);
  position: sticky;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }

  .libraryContainer {
    display: flex;
    align-items: flex-start;

    .libraryLeft {
      flex: 4;
      margin-right: 15px;

      .libraryLeftHeader {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .libraryIcons {
          display: flex;
          align-items: center;

          .libraryIcon {
            margin-right: 15px;
          }

          .libraryLeftTitle {
            font-weight: bold;
            font-size: 20px;
          }

          .libraryRightTitle {
            color: blue;
            cursor: pointer;
          }
        }

        .libraryBottom {
          width: 100%;
          margin: 15px 0px;
          display: flex;
          flex-wrap: wrap;

          .libraryVideoCard {
            width: 250px;
            margin: 5px;
            margin-bottom: 10px;
            object-fit: contain;
            cursor: pointer;

            .libraryVideoCardImage {
              width: 100%;
              height: 180px;
            }

            .libraryVideoCardTop {
              display: flex;
              justify-content: flex-start;
              height: 42px;
              overflow: hidden;
              margin-top: 10px;

              .libraryVideoCardAvatar {
                margin-right: 10px;
              }
            }

            .libraryVideoCardBottom {
              display: flex;
              flex-direction: column;
              margin-left: 50px;
            }
          }
        }
      }

      .libraryLeftHr {
        padding: 0.5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 15px 0px;
      }
    }

    .libraryRight {
      flex: 1.2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 70px;
      position: sticky;
      top: 0;

      .libraryRightAvatar {
        width: 100px !important;
        height: 100px !important;
      }

      .libraryContainerRightTitle {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .librarySubscription {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .librarySubscriptionTitle {
          color: rgba(0, 0, 0, 0.7);
        }
      }

      .libraryRightHr {
        width: 100%;
        padding: 0.5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 15px 0px;
      }
    }
  }
}
