.library {
  flex: 4;
  padding: 0px 20px;
  height: calc(100vh - 50px);
  position: sticky;
  overflow-y: scroll;

  .libraryContainer {
    display: flex;

    .libraryLeft {
      flex: 4;
      margin-right: 15px;

      .libraryLeftHeader {
        display: flex;
        align-items: center;

        .libraryIcon {
          margin-right: 20px;
        }

        .libraryLeftTitle {
          font-weight: bold;
          font-size: 20px;
        }

        .libraryRightTitle {
          color: blue;
          cursor: pointer;
        }
      }

      .libraryLeftHr {
        padding: 0.5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 15px 0px;
      }
    }

    .libraryRight {
      flex: 1.1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 100px;

      .libraryRightAvatar {
        width: 100px !important;
        height: 100px !important;
      }

      .libraryContainerRightTitle {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .librarySubscription {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .librarySubscriptionTitle {
          color: rgba(0, 0, 0, 0.7);
        }
      }

      .libraryRightHr {
        width: 100%;
        padding: 0.5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 15px 0px;
      }
    }
  }
}
