.subs {
  flex: 4;
  padding: 0px 20px;
  height: calc(100vh - 50px);
  position: sticky;
  overflow-y: scroll;

  .subsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    .subsItem {
    width: 500px;
      display: flex;
      align-items: center;
      margin: 30px 0px;

      .subsAvatar {
        width: 150px !important;
        height: 150px !important;
        margin-right: 30px;
      }

      .subsItemTitle {
        font-size: 30px;
      }
    }
  }
}
