.explore {
  flex: 4;
  padding: 0px 20px;
  height: calc(100vh - 50px);
  position: sticky;
  overflow-y: scroll;
  background-color: white;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }

  .exploreTop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .exploreCard {
      width: 170px;
      height: 85px;
      padding: 15px 15px;
      margin: 3px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-around;
      border-radius: 15px;
      box-shadow: 6px 6px 30px 7px rgba(0, 0, 0, 0.04);
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      .exploreCardIcon {
        font-size: 30px !important;
      }

      .exploreCardTitle {
        font-weight: bold;
      }
    }
  }

  .exploreHr {
    padding: 0.7px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 15px 0px;
  }

  .exploreBottom {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;

    .exploreVideo {
      width: 750px;
      display: flex;
      margin-bottom: 15px;
      cursor: pointer;

      .exploreVideoImage {
        width: 250px;
        height: 180px;
        object-fit: contain;
        margin-right: 10px;
      }

      .exploreVideoRight {
        .exploreVideoTitle {
          font-weight: 500;
        }

        .exploreProfile {
          display: flex;
          align-items: center;
          margin: 10px 0px;

          .exploreAvatar {
            margin-right: 10px;
          }

          .explorePofileTitle {
            font-weight: 500;
          }
        }
      }
    }
  }
}
